<h1>Students Record </h1>
<% @students.each do |student| %>
    Name: <%= student.name %>
    <br /><br />
    Email: <%= student.email %>
    <br /><br />
    Phone: <%= student.phone_number %>
    <br /><br />
    ----------------------------------
    <br /><br />
<% end %>